.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.AppContents {
    flex: 1;
}

.MainFooter {
    width: 100%;
}

.HiraganaCheckboxes {
    display: inline-block;
}

.WordTable {
    width: 100%;
    height: 500px;
}
