.App {
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.AppContents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.MainFooter {
    width: 100%;
}

.HiraganaCheckboxes {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.WordTable {
    width: 100%;
    flex: 1;
}
